<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:sec="http://www.thymeleaf.org" >
	<head>
		<title> home page </title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<style>
			table, th, td {
  				border: 1px solid;
			}
		</style>
	</head>
	<body>
		<h3 th:text="'Welcome to '+${session.activeUser}"></h3>

		<div align="center">
			<h3> Add New Student</h3>
			
			<form th:object="${student}" th:action="@{/save}" action="#" method="post">
				<input type="text" th:field="*{id}" hidden="true"/> </br> </br>
				<input type="text" th:field="*{name}" placeholder="Name"/> </br> </br>
				<input type="text" th:field="*{address}" placeholder="Address"/> </br> </br>
				<input type="submit" value="save"/>			
			</form>
			
		</div>
	
		<div align="center">
			<h3> List of Student</h3>
			<table>
				<tr>
					<th>Name</th>
					<th>Address</th>
					<th>Action</th>
				</tr>
				<tr th:each = "student : ${students}">
					<td th:text="${student.name}"></td>
					<td th:text="${student.address}"></td>
					<td><a th:href="@{/delete/{id}(id=${student.id})}" >Delete</a>  </td>
					<td><a th:href="@{/update/{id}(id=${student.id})}" >Update</a>  </td>
				</tr>	
			</table>
						 
		</div>		
	</body>
</html>