<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title> Product Dashboard Page </title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<style>
			table, th, td {
  				border: 1px solid black;
			}
</style>
		
	</head>
	<body>
		<div align="center">	
		<a href="#"></a>
		<h1> Welcome to <span th:text="${message1}"></span> </h1>
		</div>
		
		<div align="left">
			<h3 th:text="${message2}"> </h3>
		</div>
		<div align="center">
			<h3> Add Product</h3>
			
			<form th:object="${product}" th:action="@{/create-product}" action="#" method="post">
			<fieldset style="width:300px">
				<legend> <b>New Product </b></legend> </br>
				<input type="text"  hidden="true"/> </br> </br>
				<input type="text"  th:field="*{productName}" placeholder="Name"/> </br> </br>
				<input type="text"  th:field="*{productDesc}" placeholder="Description"/> </br> </br>
				<input type="text"  th:field="*{productCost}" placeholder="Unit Price"/> </br> </br>
				<input type="text"  th:field="*{productCount}" placeholder="Product Count"/> </br> </br> </br>
				
				<input type="submit" value="Register"/>		</br> </br>
					
			</fieldset>
			</form>
			<br/><br/>
			<div style="color: green "> <span th:text="${response}"></span> </div>

			<br/><br/>
			<div align="center">
			<h3> List of Product</h3>
			<table style="width: 60%">
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Cost</th>
					<th>Quantity</th>
					<th colspan="2">Actions</th>
				</tr>
				<tr th:each = "product : ${products}">
					<td th:text="${product.productName}"></td>
					<td th:text="${product.productDesc}"></td>
					<td th:text="${product.productCost}"></td>
					<td th:text="${product.productCount}"></td>
					<td><a th:href="@{/delete-product/{id}(id=${product.productId})}" >Delete</a>  </td>
					<td><a th:href="@{/update-product/{id}(id=${product.productId})}" >Update</a>  </td>
				</tr>	
			</table>
						 
		</div>
		
		
			
		</div>
		
		
	</body>
</html>